/_*
/*build*
/*remote*
doc/html/*
.idea/
.vscode/
.cproject
.claude
.project
.settings/*
/tmp
/b.bat

# Doc build folder
doc/build

# qpl tarball
qpl-*.tar.*z

# RPM build
qpl*.rpm

# CMake-generated header file containing version information
/include/qpl/c_api/project_version.h

examples/benchmarks/data
